In [1]:
import pandas as pd
import numpy as np
import json

seasons = range(2021, 2023)
zones = range(1, 31)

gplus_data = pd.DataFrame()

In [2]:
for yr in seasons:
    print(f"Grabbing {yr}")
    for z in zones:
        url = f"https://app.americansocceranalysis.com/api/v1/mls/teams/goals-added?zone={z}&season_name={yr}&stage_name=Regular%20Season"
        print(f"{yr} - accessing ASA zone: {z}")
        tmp = pd.read_json(url)
        tmp['zone'] = z
        tmp['season_name'] = yr
        gplus_data = gplus_data.append(tmp, ignore_index=True)

gplus_data

Grabbing 2021
2021 - accessing ASA zone: 1
2021 - accessing ASA zone: 2
2021 - accessing ASA zone: 3
2021 - accessing ASA zone: 4
2021 - accessing ASA zone: 5
2021 - accessing ASA zone: 6
2021 - accessing ASA zone: 7
2021 - accessing ASA zone: 8
2021 - accessing ASA zone: 9
2021 - accessing ASA zone: 10
2021 - accessing ASA zone: 11
2021 - accessing ASA zone: 12
2021 - accessing ASA zone: 13
2021 - accessing ASA zone: 14
2021 - accessing ASA zone: 15
2021 - accessing ASA zone: 16
2021 - accessing ASA zone: 17
2021 - accessing ASA zone: 18
2021 - accessing ASA zone: 19
2021 - accessing ASA zone: 20
2021 - accessing ASA zone: 21
2021 - accessing ASA zone: 22
2021 - accessing ASA zone: 23
2021 - accessing ASA zone: 24
2021 - accessing ASA zone: 25
2021 - accessing ASA zone: 26
2021 - accessing ASA zone: 27
2021 - accessing ASA zone: 28
2021 - accessing ASA zone: 29
2021 - accessing ASA zone: 30
Grabbing 2022
2022 - accessing ASA zone: 1
2022 - accessing ASA zone: 2
2022 - accessing ASA zone: 3
2022 - accessing ASA zone: 4
2022 - accessing ASA zone: 5
2022 - accessing ASA zone: 6
2022 - accessing ASA zone: 7
2022 - accessing ASA zone: 8
2022 - accessing ASA zone: 9
2022 - accessing ASA zone: 10
2022 - accessing ASA zone: 11
2022 - accessing ASA zone: 12
2022 - accessing ASA zone: 13
2022 - accessing ASA zone: 14
2022 - accessing ASA zone: 15
2022 - accessing ASA zone: 16
2022 - accessing ASA zone: 17
2022 - accessing ASA zone: 18
2022 - accessing ASA zone: 19
2022 - accessing ASA zone: 20
2022 - accessing ASA zone: 21
2022 - accessing ASA zone: 22
2022 - accessing ASA zone: 23
2022 - accessing ASA zone: 24
2022 - accessing ASA zone: 25
2022 - accessing ASA zone: 26
2022 - accessing ASA zone: 27
2022 - accessing ASA zone: 28
2022 - accessing ASA zone: 29
2022 - accessing ASA zone: 30

,team_id,minutes,data,zone,season_name
0,0KPqjA456v,3395,"[{'action_type': 'Dribbling', 'num_actions_for...",1,2021
1,19vQ2095K6,3362,"[{'action_type': 'Dribbling', 'num_actions_for...",1,2021
2,9z5k7Yg5A3,3393,"[{'action_type': 'Dribbling', 'num_actions_for...",1,2021
3,a2lqR4JMr0,3378,"[{'action_type': 'Dribbling', 'num_actions_for...",1,2021
4,a2lqRX2Mr0,3402,"[{'action_type': 'Dribbling', 'num_actions_for...",1,2021
...,...,...,...,...,...
1645,WBLMvYAQxe,2800,"[{'action_type': 'Dribbling', 'num_actions_for...",30,2022
1646,X0Oq66zq6D,2570,"[{'action_type': 'Dribbling', 'num_actions_for...",30,2022
1647,YgOMngl5wN,2693,"[{'action_type': 'Dribbling', 'num_actions_for...",30,2022
1648,Z2vQ1xlqrA,2672,"[{'action_type': 'Dribbling', 'num_actions_for...",30,2022
1649,zeQZkL1MKw,2598,"[{'action_type': 'Dribbling', 'num_actions_for...",30,2022

In [3]:
json_expl_txt = json.loads(gplus_data.explode('data').to_json(orient="records"))
gplus_json_expl_flat = pd.json_normalize(json_expl_txt)
gplus_json_expl_flat.to_csv('./team-g+-zones.csv', index=False)
gplus_json_expl_flat.head()

,team_id,minutes,zone,season_name,data.action_type,data.num_actions_for,data.goals_added_for,data.num_actions_against,data.goals_added_against
0,0KPqjA456v,3395,1,2021,Dribbling,59,-0.0779,42,0.0076
1,0KPqjA456v,3395,1,2021,Fouling,9,0.0230,6,0.0148
2,0KPqjA456v,3395,1,2021,Interrupting,151,0.0703,124,0.2788
3,0KPqjA456v,3395,1,2021,Passing,201,0.3010,140,0.2040
4,0KPqjA456v,3395,1,2021,Receiving,131,0.0006,63,-0.0032

In [4]:
# strip these columns out to match ASA App
stripped_expl_flat = gplus_json_expl_flat[~(gplus_json_expl_flat["data.action_type"].isin(["Claiming", "Interrupting"]))]
stripped_expl_flat

,team_id,minutes,zone,season_name,data.action_type,data.num_actions_for,data.goals_added_for,data.num_actions_against,data.goals_added_against
0,0KPqjA456v,3395,1,2021,Dribbling,59,-0.0779,42,0.0076
1,0KPqjA456v,3395,1,2021,Fouling,9,0.0230,6,0.0148
3,0KPqjA456v,3395,1,2021,Passing,201,0.3010,140,0.2040
4,0KPqjA456v,3395,1,2021,Receiving,131,0.0006,63,-0.0032
5,19vQ2095K6,3362,1,2021,Dribbling,36,0.0162,62,0.0474
...,...,...,...,...,...,...,...,...,...
9035,zeQZkL1MKw,2598,30,2022,Dribbling,77,-0.0419,82,0.0328
9036,zeQZkL1MKw,2598,30,2022,Fouling,5,0.1737,1,0.0210
9038,zeQZkL1MKw,2598,30,2022,Passing,227,-0.5597,281,-0.3592
9039,zeQZkL1MKw,2598,30,2022,Receiving,148,0.2350,168,0.1481
9040,zeQZkL1MKw,2598,30,2022,Shooting,3,0.0013,1,0.0003

In [5]:
gplus_expl_flat = stripped_expl_flat[["season_name", "team_id", "minutes", "zone", "data.action_type", "data.goals_added_for", "data.goals_added_against"]]
gplus_expl_flat.columns = ["season_name",'team_id', 'minutes', 'zone', 'action_type', 'for_total', 'against_total']
gplus_expl_flat['for_p96'] = gplus_expl_flat["for_total"] * 96 / gplus_expl_flat["minutes"]
gplus_expl_flat['against_p96'] = gplus_expl_flat["against_total"] * 96 / gplus_expl_flat["minutes"]
gplus_expl_flat

/Users/akeaswaran/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,season_name,team_id,minutes,zone,action_type,for_total,against_total,for_p96,against_p96
0,2021,0KPqjA456v,3395,1,Dribbling,-0.0779,0.0076,-0.002203,0.000215
1,2021,0KPqjA456v,3395,1,Fouling,0.0230,0.0148,0.000650,0.000418
3,2021,0KPqjA456v,3395,1,Passing,0.3010,0.2040,0.008511,0.005768
4,2021,0KPqjA456v,3395,1,Receiving,0.0006,-0.0032,0.000017,-0.000090
5,2021,19vQ2095K6,3362,1,Dribbling,0.0162,0.0474,0.000463,0.001353
...,...,...,...,...,...,...,...,...,...
9035,2022,zeQZkL1MKw,2598,30,Dribbling,-0.0419,0.0328,-0.001548,0.001212
9036,2022,zeQZkL1MKw,2598,30,Fouling,0.1737,0.0210,0.006418,0.000776
9038,2022,zeQZkL1MKw,2598,30,Passing,-0.5597,-0.3592,-0.020682,-0.013273
9039,2022,zeQZkL1MKw,2598,30,Receiving,0.2350,0.1481,0.008684,0.005473
9040,2022,zeQZkL1MKw,2598,30,Shooting,0.0013,0.0003,0.000048,0.000011

In [6]:
grouped_gplus = gplus_expl_flat.groupby(['season_name','team_id','zone']).agg({
    'minutes' : ['mean'],
    'for_total': ['sum'], 
    'against_total': ['sum'], 
    'for_p96': ['sum'], 
    'against_p96': ['sum']
}).reset_index()
grouped_gplus.columns = grouped_gplus.columns.droplevel(level=1)
grouped_gplus

,season_name,team_id,zone,minutes,for_total,against_total,for_p96,against_p96
0,2021,0KPqjA456v,1,3395,0.2467,0.2232,0.006976,0.006311
1,2021,0KPqjA456v,2,3395,0.3854,0.3282,0.010898,0.009280
2,2021,0KPqjA456v,3,3395,1.9984,2.2483,0.056509,0.063575
3,2021,0KPqjA456v,4,3395,-0.0033,0.2115,-0.000093,0.005981
4,2021,0KPqjA456v,5,3395,0.3388,0.4384,0.009580,0.012397
...,...,...,...,...,...,...,...,...
1645,2022,zeQZkL1MKw,26,2598,-0.1498,-0.3114,-0.005535,-0.011507
1646,2022,zeQZkL1MKw,27,2598,0.7603,0.7239,0.028094,0.026749
1647,2022,zeQZkL1MKw,28,2598,9.4217,11.4817,0.348146,0.424266
1648,2022,zeQZkL1MKw,29,2598,0.1874,2.1125,0.006925,0.078060
1649,2022,zeQZkL1MKw,30,2598,-0.1916,-0.1570,-0.007080,-0.005801

In [7]:
def find_transpose(season, team, zone, field):
    return grouped_gplus[(grouped_gplus.season_name == season) & (grouped_gplus.team_id == team) & (grouped_gplus.zone == zone)][field].tolist()[0]

grouped_gplus['defensive_zone'] = 31 - grouped_gplus.zone
grouped_gplus['def_for_total'] = grouped_gplus.apply(lambda x: find_transpose(x.season_name, x.team_id, x.defensive_zone, 'for_total'), axis=1)
grouped_gplus['def_against_total'] = grouped_gplus.apply(lambda x: find_transpose(x.season_name, x.team_id, x.defensive_zone, 'against_total'), axis=1)
grouped_gplus['def_for_p96'] = grouped_gplus.apply(lambda x: find_transpose(x.season_name, x.team_id, x.defensive_zone, 'for_p96'), axis=1)
grouped_gplus['def_against_p96'] = grouped_gplus.apply(lambda x: find_transpose(x.season_name, x.team_id, x.defensive_zone, 'against_p96'), axis=1)

grouped_gplus

,season_name,team_id,zone,minutes,for_total,against_total,for_p96,against_p96,defensive_zone,def_for_total,def_against_total,def_for_p96,def_against_p96
0,2021,0KPqjA456v,1,3395,0.2467,0.2232,0.006976,0.006311,30,-0.0910,-0.2905,-0.002573,-0.008214
1,2021,0KPqjA456v,2,3395,0.3854,0.3282,0.010898,0.009280,29,0.0665,0.8373,0.001880,0.023676
2,2021,0KPqjA456v,3,3395,1.9984,2.2483,0.056509,0.063575,28,11.8278,17.7983,0.334453,0.503280
3,2021,0KPqjA456v,4,3395,-0.0033,0.2115,-0.000093,0.005981,27,0.3012,0.2116,0.008517,0.005983
4,2021,0KPqjA456v,5,3395,0.3388,0.4384,0.009580,0.012397,26,-0.1290,0.0913,-0.003648,0.002582
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,2022,zeQZkL1MKw,26,2598,-0.1498,-0.3114,-0.005535,-0.011507,5,0.2279,0.1969,0.008421,0.007276
1646,2022,zeQZkL1MKw,27,2598,0.7603,0.7239,0.028094,0.026749,4,0.1554,0.2474,0.005742,0.009142
1647,2022,zeQZkL1MKw,28,2598,9.4217,11.4817,0.348146,0.424266,3,1.3322,0.7055,0.049227,0.026069
1648,2022,zeQZkL1MKw,29,2598,0.1874,2.1125,0.006925,0.078060,2,0.2785,0.1139,0.010291,0.004209
1649,2022,zeQZkL1MKw,30,2598,-0.1916,-0.1570,-0.007080,-0.005801,1,0.1911,0.2040,0.007061,0.007538

In [8]:
grouped_gplus[(grouped_gplus.team_id == '0KPqjA456v') & (grouped_gplus.season_name == 2021) & ((grouped_gplus.zone == 1) | (grouped_gplus.zone == 30))]

,season_name,team_id,zone,minutes,for_total,against_total,for_p96,against_p96,defensive_zone,def_for_total,def_against_total,def_for_p96,def_against_p96
0,2021,0KPqjA456v,1,3395,0.2467,0.2232,0.006976,0.006311,30,-0.0910,-0.2905,-0.002573,-0.008214
29,2021,0KPqjA456v,30,3395,-0.0910,-0.2905,-0.002573,-0.008214,1,0.2467,0.2232,0.006976,0.006311

In [9]:
grouped_gplus['net_p96'] = grouped_gplus['for_p96'] - grouped_gplus['against_p96']
grouped_gplus['net_total'] = grouped_gplus['for_total'] - grouped_gplus['against_total']
grouped_gplus['transposed_net_p96'] = grouped_gplus['for_p96'] - grouped_gplus['def_for_p96']
grouped_gplus['transposed_net_total'] = grouped_gplus['for_total'] - grouped_gplus['def_against_total']
grouped_gplus

,season_name,team_id,zone,minutes,for_total,against_total,for_p96,against_p96,defensive_zone,def_for_total,def_against_total,def_for_p96,def_against_p96,net_p96,net_total,transposed_net_p96,transposed_net_total
0,2021,0KPqjA456v,1,3395,0.2467,0.2232,0.006976,0.006311,30,-0.0910,-0.2905,-0.002573,-0.008214,0.000665,0.0235,0.009549,0.5372
1,2021,0KPqjA456v,2,3395,0.3854,0.3282,0.010898,0.009280,29,0.0665,0.8373,0.001880,0.023676,0.001617,0.0572,0.009017,-0.4519
2,2021,0KPqjA456v,3,3395,1.9984,2.2483,0.056509,0.063575,28,11.8278,17.7983,0.334453,0.503280,-0.007066,-0.2499,-0.277945,-15.7999
3,2021,0KPqjA456v,4,3395,-0.0033,0.2115,-0.000093,0.005981,27,0.3012,0.2116,0.008517,0.005983,-0.006074,-0.2148,-0.008610,-0.2149
4,2021,0KPqjA456v,5,3395,0.3388,0.4384,0.009580,0.012397,26,-0.1290,0.0913,-0.003648,0.002582,-0.002816,-0.0996,0.013228,0.2475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,2022,zeQZkL1MKw,26,2598,-0.1498,-0.3114,-0.005535,-0.011507,5,0.2279,0.1969,0.008421,0.007276,0.005971,0.1616,-0.013957,-0.3467
1646,2022,zeQZkL1MKw,27,2598,0.7603,0.7239,0.028094,0.026749,4,0.1554,0.2474,0.005742,0.009142,0.001345,0.0364,0.022352,0.5129
1647,2022,zeQZkL1MKw,28,2598,9.4217,11.4817,0.348146,0.424266,3,1.3322,0.7055,0.049227,0.026069,-0.076120,-2.0600,0.298919,8.7162
1648,2022,zeQZkL1MKw,29,2598,0.1874,2.1125,0.006925,0.078060,2,0.2785,0.1139,0.010291,0.004209,-0.071135,-1.9251,-0.003366,0.0735
1649,2022,zeQZkL1MKw,30,2598,-0.1916,-0.1570,-0.007080,-0.005801,1,0.1911,0.2040,0.007061,0.007538,-0.001279,-0.0346,-0.014141,-0.3956

In [10]:
grouped_gplus[(grouped_gplus.team_id == '0KPqjA456v') & (grouped_gplus.season_name == 2021) & ((grouped_gplus.zone == 1) | (grouped_gplus.zone == 30))]

,season_name,team_id,zone,minutes,for_total,against_total,for_p96,against_p96,defensive_zone,def_for_total,def_against_total,def_for_p96,def_against_p96,net_p96,net_total,transposed_net_p96,transposed_net_total
0,2021,0KPqjA456v,1,3395,0.2467,0.2232,0.006976,0.006311,30,-0.0910,-0.2905,-0.002573,-0.008214,0.000665,0.0235,0.009549,0.5372
29,2021,0KPqjA456v,30,3395,-0.0910,-0.2905,-0.002573,-0.008214,1,0.2467,0.2232,0.006976,0.006311,0.005641,0.1995,-0.009549,-0.3142

In [11]:
base_range = np.linspace(0.01, 1.00, 100)
years = grouped_gplus["season_name"].unique().tolist()
zones = grouped_gplus["zone"].unique().tolist()
percentile_composite = pd.DataFrame()

def percentiles(zone, year):
    slice_gplus = grouped_gplus[(grouped_gplus.zone == zone) & (grouped_gplus.season_name == year)]
    if (len(slice_gplus) == 0):
        #print(f"no data for Combo of {position} / {action_type}")
        return pd.DataFrame()

    data = slice_gplus["for_total"]
    adj_data = slice_gplus["for_p96"]
    
    ag_data = slice_gplus["against_total"]
    ag_adj_data = slice_gplus["against_p96"]
    
    net_data = slice_gplus["net_total"]
    net_adj_data = slice_gplus["net_p96"]
        
    trans_net_data = slice_gplus["transposed_net_total"]
    trans_net_adj_data = slice_gplus["transposed_net_p96"]
    
    return pd.DataFrame({ 
        "season" : year,"zone" : zone, "pct" : base_range,
        "for_p96" : adj_data.quantile(base_range), "for_pSzn" : data.quantile(base_range),
        "against_p96" : ag_adj_data.quantile(base_range), "against_pSzn" : ag_data.quantile(base_range),
        "net_p96" : net_adj_data.quantile(base_range), "net_pSzn" : net_data.quantile(base_range),
        "trans_net_p96" : trans_net_adj_data.quantile(base_range), "trans_net_pSzn" : trans_net_data.quantile(base_range)
    })

for z in zones:
    for y in years:
        df = percentiles(z, y)
        percentile_composite = percentile_composite.append(df, ignore_index=True)
        
percentile_composite

,season,zone,pct,for_p96,for_pSzn,against_p96,against_pSzn,net_p96,net_pSzn,trans_net_p96,trans_net_pSzn
0,2021,1,0.01,0.002640,0.093492,0.002755,0.096730,-0.014376,-0.506422,-0.020053,-0.315720
1,2021,1,0.02,0.002781,0.098484,0.003024,0.105960,-0.013096,-0.462144,-0.019848,-0.299340
2,2021,1,0.03,0.002921,0.103476,0.003294,0.115190,-0.011817,-0.417866,-0.019644,-0.282960
3,2021,1,0.04,0.003056,0.108220,0.003531,0.123368,-0.010622,-0.376312,-0.018843,-0.265576
4,2021,1,0.05,0.003165,0.111600,0.003591,0.125760,-0.009892,-0.349740,-0.014766,-0.242670
...,...,...,...,...,...,...,...,...,...,...,...
5995,2022,30,0.96,0.026616,0.712832,0.022779,0.610080,0.033572,0.943176,0.021946,0.544512
5996,2022,30,0.97,0.030826,0.826576,0.023532,0.630587,0.036104,1.006991,0.025336,0.629467
5997,2022,30,0.98,0.035500,0.953584,0.023774,0.637958,0.039331,1.082294,0.028536,0.721078
5998,2022,30,0.99,0.040173,1.080592,0.024016,0.645329,0.042559,1.157597,0.031736,0.812689
5999,2022,30,1.00,0.044847,1.207600,0.024258,0.652700,0.045787,1.232900,0.034935,0.904300

In [12]:
percentile_composite.to_csv('./percentile-g+-zones.csv', index=False)

In [13]:
percentile_composite[(percentile_composite.season == 2022) & (percentile_composite.zone == 8)]

,season,zone,pct,for_p96,for_pSzn,against_p96,against_pSzn,net_p96,net_pSzn,trans_net_p96,trans_net_pSzn
1500,2022,8,0.01,0.000131,0.004489,-0.010143,-0.282880,-0.038382,-1.046989,-0.150562,-5.277485
1501,2022,8,0.02,0.001599,0.045178,-0.004382,-0.121960,-0.036687,-1.009378,-0.141259,-4.393370
1502,2022,8,0.03,0.003067,0.085867,0.001378,0.038960,-0.034991,-0.971767,-0.131956,-3.509255
1503,2022,8,0.04,0.004269,0.119244,0.005559,0.155064,-0.033412,-0.932020,-0.123916,-2.879948
1504,2022,8,0.05,0.004840,0.135255,0.005988,0.164730,-0.032106,-0.887200,-0.118873,-2.855810
...,...,...,...,...,...,...,...,...,...,...,...
1595,2022,8,0.96,0.032564,0.883820,0.039911,1.113444,0.035632,0.956336,-0.005744,-0.073264
1596,2022,8,0.97,0.034915,0.942469,0.040841,1.133312,0.037785,1.020588,-0.000573,-0.052600
1597,2022,8,0.98,0.037887,1.019446,0.042018,1.153508,0.039173,1.070592,0.006334,-0.047200
1598,2022,8,0.99,0.040859,1.096423,0.043195,1.173704,0.040560,1.120596,0.013240,-0.041800
1599,2022,8,1.00,0.043831,1.173400,0.044373,1.193900,0.041948,1.170600,0.020146,-0.036400